.main-back {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    106.34deg,
    #243f58 -0.78%,
    rgba(97, 15, 201, 0.495507) -0.78%,
    rgba(2, 2, 19, 0.81) 100.05%
  );
}
